.mainAddButton {
    padding: 10px;
    margin: 20px;
    background: var(--primary-color);
    width: 150px;
    border: none;
    border-radius: 10px;
    color: var(--color-white);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.mainAddButton:hover {
    opacity: 0.5;
}


