.container {
    position: relative;
    padding: 50px;
    display: flex;
}

.logout {
    position: absolute;
    right: 20px;
    background-color: var(--color-red);
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    color: var(--color-white);
}

.item {
    flex: 1;
}

.table {
    width: 100%;
    border-spacing: 20px;
    text-align: left;
}
.tbody {
    text-transform: capitalize;
}
.nextStage:focus {
    background-color: rgba(23, 87, 87, 0.402);
}

.button {
    border: none;
    color: var(--color-white);
    padding: 5px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}

.button:first-child {
    background: var(--color-teal);
    margin-right: 10px;
    margin-bottom: 10px;
}


.button:last-child {
    background: var(--color-red);
}

.nextStage {
    background-color: rgba(255, 255, 0, 0.452);
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.containerDelete {
    background-color: rgba(245, 240, 240, 0.52);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapperDelete {
    width: 500px;
    height: 200px;
    background: var(--color-white);
    padding: 10px 50px;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    position: relative;
    text-align: center;
}

.wrapperDelete img {
    margin: 20px auto;
}

.wrapperButtons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
}
.deleteButton {
    width: 150px;
    border: none;
    border-radius: 8px;
    padding: 8px;
    color: var(--color-white);
    cursor: pointer;
}

.deleteButton:hover {
    opacity: 0.5;
}

.confirm {
    background: var(--color-teal);
}
.cancel {
    background: var(--color-red);  
}

@media screen and (max-width: 920px) {

    .container {
        flex-direction: column;
        align-items: center;
    }
    
}

@media screen and (max-width: 600px) {

    .container {
        padding: 20px;
    }   
    .table {
        margin-top: 40px;
        border-spacing: 2px;
        text-align: center;
    } 
    .button:first-child {
        margin-top: 10px;
    }
    .tdId, .thId, .tdCustomer, .thCustomer  {
        display: none;
    } 
}
