.container {
    height: calc(100vh - 100px);
    background-color: var(--primary-color);
    overflow: hidden;
    position: relative;
    padding-bottom: 30px;
}

.arrowContainer {
    position: absolute;
    width: 10%;
    height: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 2;
}

.wrapper {
    width: 300vw;
    height: 100%;
    display: flex;
    transition: all 1.5s ease-in-out;
}

.imgContainer {
    width: 100vw;
    height: 100%;
    position: relative;
}
.logo {
    display: none;
}


@media screen and (max-width: 920px) {
    .logo {
        display: block;
        position: absolute;
        width: 150px;
        height: 150px;
        right: 5%;
        bottom: -20px;
    }
}

@media screen and (max-width:480px) {
    .container {
        height: 50vh;
    }

    .logo {
        width: 100px;
        height: 100px;
    }
}