.container {
    width: 22%;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 40px;
}


.title {
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color);
    text-transform: capitalize;
}

.price {

    font-size: 18px;
    font-weight: bold;
    color: #666;
}

.desc {
    text-align: center;
    color: #777;
}

@media screen and (max-width:1150px) {

    .container {
        width: 50%;
    }

    .title {
        font-size: 30px;
    }
    .price,
    .desc {
        font-size: 24px;
    }
}
@media screen and (max-width:600px) {

    .container {
        width: 100%;
    }

    .title {
        font-size: 30px;
    }
    .price,
    .desc {
        font-size: 24px;
    }
}